/* Global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
     font-family: "Barlow Semi Condensed", sans-serif;
}
body {
    width: 1440px;
    
}
/* testimonial */

.testimonial-daniel{
 background-color: hsl(263, 55%, 52%);
 background-image: url(images/bg-pattern-quotation.svg);
 background-repeat: no-repeat;
 background-position: top right 50px;
 border-radius: 5px;
 padding: 30px;
 color: #F4F4F4;
}


.testimonial-jonathan{
    background-color: hsl(217, 19%, 35%);
    border-radius: 5px;
     padding: 30px;
 color: white;

}

/* jeanette */
.testimonial-jeanette{
    background-color: white;
    border-radius: 5px;
     padding: 30px;


}
.testimonial-jeanette img {
    border-color: white;
}
.testimonial-jeanette .status {
    color: black;
}

/*patrick*/
.testimonial-patrick{
    background-color: hsl(219, 29%, 14%);
    border-radius: 5px;
     padding: 30px;
 color: white;


}

.testimonial-patrick img {
    border-color: hsl(263, 55%, 52%);
}

/* kira */
.testimonial-kira{
background-color: white;
border-radius: 5px;
padding: 30px;
}
.testimonial-kira .status {
    color: black;
}
/* writer */
.the-writer {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.writer-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid hsl(264, 82%, 80%);
    align-self: center;
}
.writer {
    font-weight: 500;
}
.status {
    font-size: 13px;
    margin-top: 5px;
    color: hsl(260, 100%, 95%);
}
/* paragraphs */

.emphasized-paragraph {
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 24px;
    max-width: 600px;
}

.quote {
    line-height: 1.5;
}

/*css grid */
.container {
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    gap: 30px;
    
}

.testimonial-daniel {
    order: 1;
    grid-column: span 2;
}
.testimonial-jonathan{
    order: 2;
}

.testimonial-kira {
    order: 3;
    grid-row: span 2;
    
}

.testimonial-jeanette {
    order: 4;
    
}

.testimonial-patrick {
    order: 5;
    grid-column: span 2;
}
.testimonial-daniel,
.testimonial-jeanette,
.testimonial-jonathan,
.testimonial-kira,
.testimonial-patrick {
    box-shadow: 40px 50px 100px 0   hsl(0, 0%, 80%);
}

/* shadows */

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }